<h2>Вашa карзина</h2>

<%= @items.inspect %>

<table class="table">
      <thead>
        <tr>
          <th>id</th>
          <th>Название пиццы</th>
          <th>Количество</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Mark</td>
          <td>Otto</td>
        </tr>
      </tbody>
    </table>

