<h2>Вашa карзина</h2>

<table class="table">
      <thead>
        <tr>
          <th>id</th>
          <th>Название пиццы</th>
          <th>Количество</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Mark</td>
          <td>Otto</td>
        </tr>
      </tbody>
    </table>

  <script type="text/javascript">

   $(function(){
     update_orders_input();
     update_orders_button();
   });

</script>  
